.header {
  position: relative;
  width: 100%;
  min-height: 80px;
  background-color: $color-royal-purple;
  padding: 14px 13px;

  @include vp-1024 {
    min-height: 120.2px;
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 16.3px;
  }

  @include vp-1400 {

  }

}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  @include vp-1024 {
    min-height: 56px;
    justify-content: start;

  }

  @include vp-1400 {

  }
}

.header__burger {
  width: 28px;
  height: 28px;
  padding: 4.75px 2.75px;
  cursor: pointer;

  @include vp-1024 {
    width: 48px;
    height: 48px;
    border: 1px solid $color-default-white;
    opacity: 0.45;
    border-radius: 8px;
  }

  @include vp-1400 {

  }
}

.header__burger span {
  position: relative;
  display: block;
  width: 22.5px;
  height: 2.5px;
  border-radius: 4px;
  background-color: $color-default-white;

  @include vp-1024 {
    height: 4px;
    width: 28px;
    left: 5.9px;
  }

  @include vp-1400 {

  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: -7.8px;
    width: 22.5px;
    height: 2.5px;
    border-radius: 4px;
    background-color: inherit;

    @include vp-1024 {
      height: 4px;
      width: 28px;
      top: 9.4px;
    }

    @include vp-1400 {

    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 7.8px;
    width: 16.5px;
    height: 2.5px;
    border-radius: 4px;
    background-color: inherit;

    @include vp-1024 {
      height: 4px;
      width: 28px;
      top: -10.1px;

    }

    @include vp-1400 {

    }
  }
}

.header__logo {
  @include vp-1024 {
    max-width: 139.2px;

  }

  @include vp-1400 {

  }
}


.header__logo h1 {
  color: $color-default-white;
  font-size: 19.5px;
  font-family: "SegoeUISemiBold";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-top: -4.2px;
  margin-left: 1.2px;

  @include vp-1024 {
    font-size: 21.3px;
    letter-spacing: 2.2px;
    margin: 0;
    margin-left: 16.8px;;
  }

  @include vp-1400 {

  }
}


