.order {
  position: relative;
  z-index: 3;
  // background-color: $color-ghost-white;
  background-color: aquamarine;
  border-radius: 23.8px;
  margin-top: -32.6px;

  @include vp-1024 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 24px;
    padding-top: 22px;
  }

  @include vp-1400 {

  }
}

.order__container h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SegoeUI";
  line-height: 28px;
  margin-bottom: 6px;
}


