.quantity {
  gap: 5.1px;

  @include vp-1024 {
    gap: 3.5px;
  }

  @include vp-1400 {

  }
}

.quantity > div {
  display: flex;
  justify-content: space-between;
}

.quantity__product-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-family: "SegoeUI";

  & > div {
    display: flex;
    justify-content: space-between;
    max-height: 24px;
  }
}

.quantity__product {


}

.quantity__price {
  font-size: 20px;
  font-family: "SegoeUIBold";
  line-height: 28px;
  letter-spacing: -0.2px;

  @include vp-1024 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
  }

  @include vp-1400 {

  }
}


.quantity__price--sum {
  align-items: center;
  flex-direction: column;
  margin-right: 2px;

  @include vp-1024 {
    margin-right: 9.6px;
  }

  @include vp-1400 {

  }
}

.quantity__price--sum {
  & span:first-child {
    margin-right: 0.5px;
  }

  & span:last-child {
    font-size: 15.2px;
  }
}


.quantity__product--sum,
.quantity__discount--sum {
  & span:first-child {
    margin-right: 0.5px;
  }

  & span:last-child {
    font-size: 12.5px;
  }

  @include vp-1024 {
    margin-right: 9.6px;
  }

  @include vp-1400 {

  }
}

.quantity__discount--sum {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -10px;
    width: 7.75px;
    height: 1px;
    background-color: $color-default-black;
    top: calc(50% - 0.5px);
  }

}

.quantity__delivery {
  @include vp-1024 {
    margin-right: 9.6px;
  }

  @include vp-1400 {

  }
}





